.box1,.box2,.box3,.box4 {
    border-radius: 10px;
    margin: 25px;
    padding: 25px;
    border: solid;
    height: 200px;
    width: 200px;
    float: left;
}

.box1 {
    background-color: blueviolet;
}

.box2{
    background-color: green;
}

.box3 {
    background-color: chartreuse;
}

.box4 {
    background-color: crimson;
}

.box1 :hover,.box2 :hover,.box3 :hover,.box4 :hover {
    background-color: coral;
}

#box_three:hover {
    width: 600px;
}

#box_four:hover {
    width: 50px;
}

.box1 :active, .box2 :active, .box3 :active, .box4 :active {
    background-color: cornflowerblue;
}